@import '../../styles/variables';

@include nga-install-component {
  /deep/ nga-card {
    a {
      color: nga-theme(color-fg-active);

      @include hover-focus-active() {
        color: nga-theme(color-primary);
      }
    }

    .block-title {
      font-size: nga-theme(block-title-font-size);
      font-weight: bold;
      margin-bottom: 2rem;
    }

    .block-subtitle {
      font-size: nga-theme(block-subtitle-font-size);
      font-weight: bold;
    }

    pre {
      background: nga-theme(code-snippets-bg);
      padding: 0.75rem 1rem;
      code {
        color: nga-theme(color-fg);
      }
    }

    code {
      color: nga-theme(inline-code-color);
      background: nga-theme(code-snippets-bg);
    }

    .block-container {
      margin-bottom: nga-theme(block-margin);
    }

    ngd-code-highlighter {
      display: none;
      .code-title {
        background: nga-theme(code-snippets-bg);
        padding: 0.75rem 1rem;
        border-radius: 3px;
        border-bottom: 1px solid rgb(224, 225, 235);
        position: relative;
        i {
          position: absolute;
          right: 1rem;
          color: rgb(224, 225, 235);
        }
      }
    }

    @media screen and (max-width: 700px) {
      ngd-examples-block {
        & > div > pre {
          display: none;
        }
        ngd-code-highlighter {
          display: block;
        }
      }
    }

    //nga-card-header {
    //  font-size: nga-theme(font-size-lg);
    //  font-weight: bold;
    //  border: none;
    //  text-transform: none;
    //  opacity: 1;
    //}

    //nga-card-body {
    //  font-family: nga-theme(font-main);

    //  .block-container {
    //    margin-bottom: 2rem;
    //  }
    //
    //  img {
    //    max-width: 100%;
    //    margin: 0.5rem 0;
    //  }
    //
    //  .table {
    //    td {
    //      padding: 0.75rem 0.75rem 0.75rem 0;
    //    }
    //    thead {
    //      font-weight: bold;
    //      td {
    //        border-top: none;
    //      }
    //    }
    //  }
    //

    //  pre {
    //    background: nga-theme(code-snippets-bg);
    //    padding: 0.75rem 1rem;
    //    code {
    //      color: nga-theme(color-fg);
    //    }
    //  }

    //
    //  react-methods-block {
    //    .method-signature {
    //      margin-bottom: 1rem;
    //    }
    //  }
    //
    //  react-markdown-block {
    //    pre {
    //      margin-bottom: 2rem;
    //    }
    //  }
    //  //@media screen and (max-width: 600px) {
    //  //  .table {
    //  //    td:last-child {
    //  //      word-break: break-all; // TODO: discuss this changes
    //  //    }
    //  //  }
    //  //}
    //

    //}
  }
}

