<form  [formGroup]="form" (ngSubmit)="update(form.value)" class="form-horizontal" >
  <input type="hidden" name="restaurantId" value="{{ restaurantId }}" />
  <div class="form-group" [ngClass]="{'has-error': (!restaurantName.valid && restaurantName.touched), 'has-success': (restaurantName.valid && restaurantName.touched)}" >
    <label for="restaurantName">店铺名称</label>
    <input [formControl]="restaurantName" class="form-control" placeholder="店铺名称" name="restaurantName"  >
  </div>
 <div class="form-group" class="form-group" [ngClass]="{'has-error': (!printMachineId.valid && printMachineId.touched), 'has-success': (printMachineId.valid && printMachineId.touched)}" >
  <label for="exampleSelect1">打印机</label>
  <select class="form-control" id="exampleSelect1" name="printMachineId" [formControl]="printMachineId" >
    <option value=""></option>
    <option *ngFor="let item of machines" value="{{ item.id }}">{{ item.machineCode }}</option>
    
  </select>
</div>

<div class="form-group">
  <label for="exampleSelect2">打印联数</label>
  <select class="form-control" id="exampleSelect2" id="printCount" name="printCount" [formControl]="printCount" >
    <option value="1">1</option>
    <option value="2">2</option>
   
  </select>
</div>

  <div class="form-group" style="width:100%">
  <button type="submit" [disabled]="!form.valid" class="btn btn-primary " style="width:100%">提交</button>
  </div>

   <div class="form-group" style="width:100%">
  <button type="button"  class="btn btn-danger " (click) = "onDeleteConfirm(restaurantId, restaurantName.value)" style="width:100%">删除</button>
   </div>
</form>
