<div class="widgets">

  
    
 
 
    <div class="col-lg-6 col-md-12">
      
        <div class="horizontal-scroll">
		  <table class="table table-condensed" [mfData]="peopleTableData" #mf="mfDataTable" [mfRowsOnPage]="10">
		    <thead>
		    <tr>
		      <th class="table-id">#</th>
		      <th>店铺名</th>
		     <th>绑定状态</th>
		      <th>操作</th>
		    </tr>
		    </thead>
		    <tbody>
		    <tr *ngFor="let item of mf.data">
		      <td class="table-id">{{ item.id }}</td>
		      <td>{{ item.restaurantName }}</td>

		     <td>{{ item.partners }}</td>
		      <td>
		        <button class="status-button btn btn-xs btn-danger" (click) = "detail(item.id,item.restaurantName)" >详细</button>

		      

		      </td>
		    </tr>
		    </tbody>
		    <tfoot>
                        <tr>
                            <td colspan="5">
                                <mfBootstrapPaginator ></mfBootstrapPaginator>
                            </td>
                        </tr>
            </tfoot>
		  </table>
		</div>

      
    </div>
    
</div>
