<div class="page-top clearfix" baScrollPosition maxHeight="50" (scrollChange)="scrolledChanged($event)"
     [ngClass]="{scrolled: isScrolled}">
  <a routerLink="/pages/dashboard" class="al-logo clearfix"><span>来</span>单了</a>
  <a href (click)="toggleMenu()" class="collapse-menu-link ion-navicon"></a>

 

  <div class="user-profile clearfix">
    <div class="dropdown al-user-profile">
      <a class="profile-toggle-link dropdown-toggle" id="user-profile-dd" data-toggle="dropdown" aria-expanded="false">
        <img src="{{ ( 'logo_small' | baProfilePicture ) }}">
      </a>
      <ul class="dropdown-menu top-dropdown-menu profile-dropdown" aria-labelledby="user-profile-dd">
        
        <li class="dropdown-item"><a href class="signout" (click)="logout()"><i class="fa fa-power-off"></i>退出登录</a></li>
      </ul>
    </div>
   
  </div>
</div>
