@import '../../styles/variables';

@include nga-install-component {
  display: flex;
  max-width: nga-theme(content-width);
  margin: auto;
  padding: 0 1rem;

  .logo-container {
    font-size: 30px;

    a {
      display: flex;
      align-items: center;
    }

    .svg-logo {
      width: 65px;
      height: 44px;
      margin-right: 20px;
    }
  }

  .menu {
    margin: auto;
    font-size: 20px;
    font-weight: bold;

    a {
      position: relative;
      display: inline-block;
      height: nga-theme(header-height);
      padding: 0 1rem;

      &.active-link::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 4px;
        background: rgba(nga-theme(color-primary), 0.8);
        border-radius: 2px;
        transition: .3s ease-in-out;
        bottom: 16px;
        left: 0;
      }
    }
  }

  .menu-icon {
    display: none;
  }

  /deep/ nga-menu.mobile-menu {
    position: fixed;
    top: nga-theme(header-height);
    left: 0;
    width: 100vw;
    height: 0;
    overflow: hidden;
    background: nga-theme(color-bg);
    transition: height 0.3s ease-out;
  }

  @media screen and (max-width: 1500px) and (min-width: 900px) {
    padding-right: 150px;
  }

  @media screen and (max-width: 1140px) {
    span {
      display: none;
    }
  }

  @media screen and (max-width: 900px) {
    .menu {
      display: none;
    }
    .menu-icon {
      font-size: 40px;
      display: block;
      margin: 0 0 0 auto;
      cursor: pointer;
    }

    .mobile-menu.active {
      height: calc(100vh - #{nga-theme(header-height)});
      overflow: auto;
    }
  }

  @media screen and (max-width: 1140px) {
    span {
      display: none;
    }
  }
}

