 <div class="form-group" style="width:30%">
  <button type="button"  class="btn btn-primary " (click) = "goback()" style="width:100%">返回列表</button>
  </div>


<form  [formGroup]="form" (ngSubmit)="update(form.value)" class="form-horizontal" >
  <input type="hidden" name="partnerRestaurantId" value="{{ partnerRestaurantId }}" />
  <div class="form-group" >
    <label for="restaurantName">伙伴名称</label>
    <input class="form-control" disabled="true" value="{{ partnerRestaurantName }}"  name="partnerRestaurantName"  >
  </div>
 <div class="form-group" class="form-group" [ngClass]="{'has-error': (!restaurantId.valid && restaurantId.touched), 'has-success': (restaurantId.valid && restaurantId.touched)}" >
  <label for="exampleSelect1">店铺名称</label>
  <select class="form-control" id="exampleSelect1" name="restaurantId" [formControl]="restaurantId" >
    <option value=""></option>
    <option *ngFor="let item of machines" value="{{ item.id }}">{{ item.restaurantName }}</option>
    
  </select>
</div>


  <div class="form-group" style="width:100%">
  <button type="submit" [disabled]="!form.valid" class="btn btn-primary " style="width:100%">提交</button>
  </div>

</form>
