// nga theming framework
@import '../../../src/framework/theme/styles/theming';
// nga our of the box themes
@import '../../../src/framework/theme/styles/themes';

// which themes you what to enable (empty to enable all - not recommended)
$nga-enabled-themes: (default);

@mixin nga-install-root-component() {

  $themes-to-install: get-enabled-themes();

  @each $theme-name, $theme in $themes-to-install {
    :host .nga-theme-#{$theme-name} {
      $theme: $theme !global;
      @content;
    }
  }
}

$nga-themes: nga-register-theme((

  title-font: unquote('Righteous, cursive'),
  layout-content-padding: 0 1rem,
  color-fg-active: rgba(255, 40, 36, 0.87),
  color-fg-inverse: white,
  block-title-font-size: font-size-lg,
  block-subtitle-font-size: font-size,
  block-margin: 3rem,
  class-name-font-size: font-size-lg,
  code-snippets-bg: rgb(245, 246, 252),
  inline-code-color: color-fg-active,
  content-width: 100%,//for fixed width just define it
  section-padding: 2rem 0 5rem,

  header-height: 80px,
  header-line-height: header-height,
  header-padding: 0,
  layout-padding: 0, //layout-column padding actualy, content padding
  color-fg: rgba(0, 0, 0, 0.87),

), default, default);
