@import '../styles/variables';

@include nga-install-root-component {

  nga-layout-header {
    border-bottom: 1px solid #eee;
  }

  /deep/ .layout-container {
    max-width: nga-theme(content-width);
    width: 100%;
    margin-left:auto;
    margin-right: auto;
    .content {
      min-width: 0;
      nga-layout-column {
        min-width: 0;
      }
    }

    nga-sidebar {
      z-index: auto; // Really need it to make sidebar content visible in ie
    }

  }

  @media screen and (max-width: 900px) {
    nga-sidebar {
      display: none;
    }
  }
}
